body {
    font-family: 'Arial', sans-serif;
    background-color: #f0dc04;
    margin: 50px;
    padding: 60px;
}
header {
    background-color: #442c2e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 25px;
}

h1 {
    font-size: 36px;
    margin: 25px;
}

nav {
    background-color: #613a3c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.menu-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.menu-item p {
    font-size: 18px;
    margin: 0;
}

/* Add hover effect to navigation links */
nav a:hover {
    color: #ff5733;
}
